<div class='note'>Note that the population and income data are measured yearly 
   while the death rates are averaged over a three year period. Thus any population/income 
   measurement may match up to three death rate measurements. Please be sure to pick
   the appropriate year fields for your data.
</div>
<!-- p class='note'>Region descriptions contain many accented characters. The character encoding is UTF-8.</p -->
