<p>Lari Kirby wrote this application. You can email me 
<%= link_to 'here', 'mailto:larikirby@cluemail.com?subject=DataProjDemo' %></p>

<p>And you can view the source code 
<%= link_to 'on github', 'https://github.com/laripk/data_proj_demo' %></p>
