<h1>Contact</h1>
<p>Lari Kirby wrote the first version of this application in 4 days.</p>

<p>You can view the source code 
<%= link_to 'on github', 'https://github.com/laripk/data_proj_demo' %></p>

<p>And you can contact me <%= link_to 'here', 'mailto:larikirby@cluemail.com?subject=DataProjDemo' %></p>
