<p>This is a demonstration application for extracting data 
   from a database. I have imported some of the Regional 
   Statistics from the European Commission Eurostat for you 
   to play with.</p>

<p>I have chosen European Union Statistical Regions as my 
metaphorical "research subjects" because the data is freely
available and there are a number of different types of data
available for each region.</p>

<p></p>
<table>
   <tr>
      <td>
         <%= link_to "All Queries", queries_path, :class => "start_button round" %>
      </td>
      <td>
         <%= link_to "New Query", new_query_path, :class => "start_button round" %>
      </td>
   </tr>
</table>
