<p>This is a demonstration application for extracting data 
   from a database. I have imported some of the Regional 
   Statistics from the European Commission Eurostat for you 
   to play with.</p>

<p>I have chosen European Union Statistical Regions as my 
metaphorical "research subjects" because the data is freely
available and there are a number of different types of data
available for each region.</p>

<p></p>
<%= link_to "Let's play with data!", new_query_path, :class => "start_button round" %>
