<p>This is a prototype of a dynamic query system for extracting data 
   from a database. It allows you to create your own queries into the data
   and either browse or export the results.</p>

<p>I have imported some of the Regional 
   Statistics from the European Commission Eurostat as the demonstration data. 
   I chose European Union Statistical Regions as the 
   subjects of interest because there are a number of different types of data
available for each region.</p>

<p>&nbsp;</p>
<table>
   <tr>
      <td>
         <%= link_to "About the Data", about_data_path, :class => "start_button round" %>
      </td>
      <td>
         <%= link_to "All Queries", queries_path, :class => "start_button round" %>
      </td>
      <td>
         <%= link_to "New Query", new_query_path, :class => "start_button round" %>
      </td>
   </tr>
</table>
