
body	{margin:0; padding:5px; font:normal 70% verdana,arial,helvetica,sans-serif; background-color:#039; color:#003;}

abbr, acronym	{border:0;}

table {font-size: 1em;}

#Top		{float:left; width:100%; font-size:90%; line-height:100%; margin-bottom:3px;}
#Top ul		{margin:0; padding:0; list-style:none; float:right;}
#Top li		{margin:0; padding:0 5px; float:left; border-right:1px solid #FFF;}
#Top li.Last	{padding-right:0; border:0;}
#Top a		{color:#FFF; text-decoration:none;}
#Top a:hover	{color:#9CF; text-decoration:underline;}

#Wrapper	{display:block; clear:both; float:left; width:100%; margin-bottom:5px; background:url(/images/navbottom_corner.gif) #FFF 100% 100% no-repeat; position:relative;}
#Wrapper h1	{margin:0; padding:0; font:bold 28px/100% arial,helvetica,sans-serif; color:#036; position:absolute; top:30px; left:180px;}
#Wrapper h1 span	{display:none;}
#Wrapper h1 em	{display:block; font:normal 14px verdana,arial,helvetica,sans-serif;}

/*#Header		{display:block; clear:both; width:100%; height:84px; overflow:hidden; background:url(/images/bg_header.gif) #5db5a1 0 0 no-repeat;}
*/
	#Office	{display:block; float:left; width:158px; height:36px; margin:37px 0 0 7px; background-color:#FFF; background-position:0 0; background-repeat:no-repeat;}
body.EN	#Office	{background-image:url(/images/logo_office_en.gif)}
body.BG	#Office	{background-image:url(/images/logo_office_en.gif)}
body.CS	#Office	{background-image:url(/images/logo_office_en.gif)}
body.DA	#Office	{background-image:url(/images/logo_office_en.gif)}
body.DE	#Office	{background-image:url(/images/logo_office_en.gif)}
body.ET	#Office	{background-image:url(/images/logo_office_en.gif)}
body.EL	#Office	{background-image:url(/images/logo_office_en.gif)}
body.EN	#Office	{background-image:url(/images/logo_office_en.gif)}
body.ES	#Office	{background-image:url(/images/logo_office_en.gif)}
body.FR	#Office	{background-image:url(/images/logo_office_en.gif)}
body.GA	#Office	{background-image:url(/images/logo_office_en.gif)}
body.IT	#Office	{background-image:url(/images/logo_office_en.gif)}
body.LV	#Office	{background-image:url(/images/logo_office_en.gif)}
body.LT	#Office	{background-image:url(/images/logo_office_en.gif)}
body.HU	#Office	{background-image:url(/images/logo_office_en.gif)}
body.MT	#Office	{background-image:url(/images/logo_office_en.gif)}
body.NL	#Office	{background-image:url(/images/logo_office_en.gif)}
body.PL	#Office	{background-image:url(/images/logo_office_en.gif)}
body.PT	#Office	{background-image:url(/images/logo_office_en.gif)}
body.RO	#Office	{background-image:url(/images/logo_office_en.gif)}
body.SK	#Office	{background-image:url(/images/logo_office_en.gif)}
body.SL	#Office	{background-image:url(/images/logo_office_en.gif)}
body.FI	#Office	{background-image:url(/images/logo_office_en.gif)}
body.SV	#Office	{background-image:url(/images/logo_office_en.gif)}
	#Office p	{margin:0; padding:0;}
	#Office a	{display:block; width:158px; height:36px; text-indent:-5000em;}

#Language 				{float:right; margin:33px 10px 0 0;}
#Language form				{margin:0; padding:0;}
#Language p				{margin:0; padding:0;}
#Language select				{margin:0; font:normal 100% verdana,arial,helvetica,sans-serif; background-color:#FFF;}
#Language div.noscript			{color:#273d60; width:320px; line-height:150%; position:relative; top:-5px;}
#Language div.noscript span			{display:none;}
#Language span.languageNoLink	{margin:0 0 5px 5px; background-color:#3399CC; color:#FFFFFF; width:18px; border:1px solid #039; text-align:center;}
#Language a				{ color:#FFF; margin:0 0 5px 5px; background:#039; width:18px; text-align:center; text-decoration:none; border:1px solid #FFF;}
#Language a:hover				{background-color:#069;}


#Path		{color:#d2ebe2; background:url(/images/stripe.gif) #3580bd 0 100% repeat-x; padding:4px 0 7px 12px;}
#Path p		{margin:0; padding:0;}
#Path a		{color:#d2ebe2; text-decoration:none; font-weight:bold;}
#Path a:hover	{text-decoration:underline;}

#Menu		{display:block; float:left; width:185px; margin-top:-1px; background:url(/images/bg_menu.gif) #d2ebe2 100% 0 repeat-y;}

#Services		{display:block; width:185px; float:left; background:url(/images/bg_menu_top.gif) 100% 0 no-repeat;}
#Services ul		{display:block; width:168px; float:left; margin:0; padding:5px 0 0 0; list-style:none; border-bottom:6px solid #14b795;}
#Services li		{display:block; margin:0 0 0 5px; padding:3px 0; float:left; color:#FFF; font-size:90%; font-weight:bold; text-align:center;}
#Services li#SIMAP	{background:url(/images/tab_simap.gif) #14b795 0 0 no-repeat; width:50px; margin-left:3px;}
#Services li#TED		{background:url(/images/tab_ted.gif) #FFF 0 0 no-repeat; width:30px;}
#Services li#eNotices	{background:url(/images/tab_enotices.gif) #FFF 0 0 no-repeat; width:67px;}
#Services a		{display:block; width:100%; color:#7cc4b2; text-decoration:none;}
#Services a:hover		{color:#14b795;}

#Navigation ul		{display:block; float:left; margin:0; padding:0 0 19px 0; list-style:none; clear:both; width:168px; background:url(/images/bg_menu_bottom.gif) 100% 100% no-repeat;}
#Navigation ul ul		{margin:0; padding:0; background:none;}
#Navigation li		{border-bottom:1px solid #14b795; display:block; float:left; width:168px; margin:0; padding:0; background:url(/images/ico_nav_star.gif) #a4d9cc 0 0 no-repeat;}
#Navigation li span		{display:block; clear:both; padding:6px 3px 6px 32px; font-weight:bold; border-right:1px solid #14b795;}
#Navigation li li		{border-top:1px solid #14b795; border-bottom:0; background:url(/images/ico_nav_arrow.gif) #d2ebe2 0 0 no-repeat; }
#Navigation li li span	{padding:3px 3px 3px 27px; background:url(/images/ico_nav_arrow.gif) #FFF 0 0 no-repeat; border-right:1px solid #14b795; font-weight:normal;}
#Navigation li a		{display:block; text-decoration:none; color:#069;}
#Navigation li li a		{padding:3px 3px 3px 27px;  border-right:1px solid #14b795;}
#Navigation li a:hover	{text-decoration:underline; color:#c36;}

#Main			{display:block; margin:15px 15px 0 190px; height:auto !important; height:1%;}

#Main h2, #Main h3, #Main h4, #Main h5, #Main h6
			{font-weight:normal; font-family:'arial narrow',tahoma,arial,verdana; margin:0 0 10px 0; padding:0; color: #000000;}
#Main h2			{font-size:24px;}
#Main h3			{font-size:22px;}
#Main h4			{font-size:20px;}
#Main h5			{font-size:18px;}
#Main h6			{font-size:16px;}
#Main li a		{display:block; text-decoration:none; color:#069;}

#Main ul {list-style-type: disc;}
#Main ul ul {list-style-type: circle;}


#Main img	{border:0;}

#Main table {border-collapse:collapse; margin:30px 0; width:99.5%;}

#Main td {background-color:#EDF5F2; border:2px solid #FFFFFF; font-size:100%; padding:2px 4px;}

.w01			{width:1%;}
.NW			{white-space:nowrap; text-align:left;}

#Footer			{display:block; clear:both; float:left; width:100%; margin-top:20px; padding:10px 0; border-top:1px solid #39C;}
#Footer ul		{margin:0; padding:0; float:right; list-style:none;}
#Footer li			{margin:0; padding:0 5px; float:left; border-right:1px solid #CCC;}
#Footer li#PageTop	{border:0; padding-left:20px; background:url(/images/ico_top.gif) 0 0 no-repeat;}
#Footer a			{color:#069; text-decoration:none;}
#Footer a:hover		{color:#b39a24;text-decoration:underline;}

.news_title {margin: 0 0 0 0;}
.news_link {font-size: 14px; margin-top: 20;}
.news_abstract {margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0;}

/* ADDED by MINDAUGAS PAULAVICIUS for bookshop banner */

.books-box {
float: right;
width: 250px;
border: 1px solid #14B795;
padding: 5px;
}

.book {
position:relative;
width: 100%;
margin: 5px;
display: inline-table;
}

.book-cover {
float: left;
width: 90px;
margin-right: 5px;
}

.book-separator {
width: 90%;
color: #ccc;
background-color: #ccc;
height: 1px;
}

.book-name {
font-family: Arial, Helvetica, Sans Seriff;
font-size: 13px;
font-weight: bold;
}

.publication-date {
font-family: Arial, Helvetica, Sans Seriff;
font-size: 10px;
font-weight: bold;
margin-top: 0px;
}