<h1>Queries#create</h1>
<p>Find me in app/views/queries/create.html.erb</p>
<p>Only here for testing - looking at params. Delete me.</p>
<p>@query<%= debug(@query) if Rails.env.development? %></p>
<p>@filter<%= debug(@filter) if Rails.env.development? %></p>
