<header>
	<%= link_to root_path do %>
		<div class='logo round'>Lari Kirby's<br />Data Project Demo</div>
	<% end %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<!-- <li><%= link_to "Help", help_path %></li> -->
		</ul>
	</nav>
</header>
